.dropDown{
    width: 100%;
}
.dropDownMenu{
    width:100%;
    padding: 10px;
    color: #596e7e;
    border-radius: 5px;
    border:none;
    background-color:#F2F2F2;
    outline:none;
    font-weight:bold;
    font-size: 12px;
}